<div class="content">
	<h1>All supported setups</h1>
	<div class="row">
		<div class="col-6">
			<h2>Browsers</h2>
			<ul>
				<% @cmc_browsers.each do |cmc_browser| %>
				<li><%= link_to display_path(:cmcplatform_slug => cmc_browser.cmcplatform.slug, :cmcplatform_version => "1", :cmcbrowser_slug => cmc_browser.slug, :cmcbrowser_version => cmc_browser.version) do %>
						<%= cmc_browser.name %> <%= cmc_browser.version %>
						<% if cmc_browser.cmcplatform.slug != 'all'  %>, <%= cmc_browser.cmcplatform.name %> <% end %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="col-6">
			<h2>Platforms</h2>
			<ul>
				<% @cmc_platforms.each do |cmc_platform| %>
					<li><% if !cmc_platform.cmcbrowsers.empty? %>
						<%= link_to display_path(:cmcplatform_slug => cmc_platform.slug, :cmcplatform_version => "1", :cmcbrowser_slug => cmc_platform.cmcbrowsers[0].slug, :cmcbrowser_version => cmc_platform.cmcbrowsers[0].version) do %>
							<%= cmc_platform.name %>
						<% end %>
					<% else %>
						<%= cmc_platform.name %>
					<% end %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>