<section id="what_am_i">
   <hgroup>
      <h2>Hello <%= browser.platform %> User!</h2>
      <h3>You&rsquo;re using <%= browser.name %>, Winning!</h3>
   </hgroup>
   <p class="update">However, the new Firefox is out now! <a href="http://www.mozilla.org/en-US/">Get it here</a></p>
</section>
<section id="how_to_clear">
   <div class="sleeve">
      <h2>Here&rsquo;s how you clear your cache for &hellip;</h2>
      <section id="your_headers">
         <header class="browser">
            <img src="/assets/img/browsers/<%= @cmc_browser.slug %>.png" alt="<%= @cmc_browser.name %> Icon"/>
            <h3><span>Your browser, </span><%= @cmc_browser.name %></h3>
            <a href="#your_browser" class="skip">Skip to your Browser instructions</a>
            <p class="view"><a href="#">View User Agent String</a></p>
         </header>
         <header class="os">
            <img src="/assets/img/os/<%= @cmc_platform.slug %>.png" alt="<%= @cmc_platform.name %> Icon"/>
            <h3><span>Your Operating System, </span><%= @cmc_platform.name %></h3>
            <a href="#your_os" class="skip">Skip to your Operating System instructions</a>
         </header>
      </section>
      <section class="how_tos">
         <section id="your_browser" class="how_to">
            <%= raw(@cmc_browser.howto) %>
         </section>
         <section id="your_os" class="how_to">
            <%= raw(@cmc_platform.howto) %>
         </section>
      </section>
   </div>
</section>

<img src="/assets/img/bgs/<%= @cmc_browser.slug %>.png" alt="<%= @cmc_browser.name %>" id="browser_image"/>