<%= simple_form_for(@cmcbrowser) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :version %>
    <%= f.input :howto %>
    <%= f.input :cmcplatform_id, collection: Cmcplatform.all %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
